@charset "UTF-8";

body{
    background-color: rgb(221, 255, 187);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(57, 107, 6);
}

h1#principal{
    text-align: center;
}

h2{
    color: rgb(51, 77, 49);
}

h2.basico{
    color: black;    
}